.border {
  border: solid black 5px;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

li {
  font-size: 20px;
}

#box {
  width: 100px;
  height: 100px;
  padding: 50px;
  border: solid black 5px;
  background: black;
  margin: auto;
}
